@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Poppins&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'IBM Plex Sans Condensed', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

.main-div {
    display: grid;
    max-width: 1170px;
    margin: 6rem auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .main-div {
        display: grid;
        grid-template-columns: 1fr;
        /* width: 95vw; */
        place-items: center;
        margin: 5rem auto;
    }

    .image-div {
        display: block;
        object-fit: cover;
    }

    img.image {
        height: 400px;
    }
}

.image {
    display: block;
    height: 350px;
    object-fit: cover;
}

.info-div h2 {
    color: #49a8e9;
    font-size: 2.3rem;
    margin-top: 1.8rem;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
}

.info-div h4 {
    font-size: 1.2rem;
    margin-top: 0;
    letter-spacing: 0.2rem;
}

.info-div p {
    color: #8f8888;
    letter-spacing: 0.03rem;
    font-size: 1.05rem;
    margin-bottom: 1.3rem;
}

.deadline {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    column-gap: 1.2rem;
    /* justify-items: center; */
    /* justify-content: space-between; */
}

.deadline-format {
    background-color: #222;
}

.deadline-format div {
    color: #fff;
    text-align: center;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    padding: 8px 10px;
}

.deadline-format div h4 {
    margin: 0;
    font-size: 1.8rem;
}

.deadline-format div span {
    margin: 0;
    font-size: 1.03rem;
    font-weight: 200;
    text-transform: uppercase;
}
