@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: rgb(52, 56, 60);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#main-div {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
}

p {
    /* font-size: 1.01rem; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.head {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#link {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: underline;
    color: black;
    font-weight: 550;
}

a:hover {
    text-decoration: none;
}
